.link {
	display: inline-flex;
	text-decoration: none;
	align-items: center;
	margin-top: 15px;
	font-weight: var(--font-bold);
	color: var(--color-yellow);
	gap: 10px;
	text-shadow: var(--text-shadow-yellow);
}
.link__img {
	width: 20px;
	height: 20px;
	object-fit: cover;
}
